/**
 * Created by PhpStorm.
 * User: huangfuquang
 * Date: 2017/1/5
 * Time: 上午9:12
 */
/*初始化样式*/
html{
	font-size: 100px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea {font-size: .16rem;
	font-family:  "microsoft yahei",Arial,sans-serif;} 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
dl,ul,ol,menu,li {list-style:none} 
a { text-decoration:none; font-family: 微软雅黑, 'Microsoft YaHei';font-weight: normal}
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 