<li>
    <div class="flowPic">
        <a class="share" href="#"></a>
        <div class="sharelb">
            <a href="#" class="renren"></a>
            <a href="#" class="qzone"></a>
            <a href="#" class="qq"></a>
            <a href="#" class="wechat"></a>
            <a href="#" class="weibo"></a>
        </div>
        <a href="#" class="img">
            <img src="{{PicUrl}}" title="{{Title}}">
        </a>
    </div>
    <div class="flowTxt">
        <a title="lg2330795" href="http://my.lotour.com/i/4570916/" target="_blank">
            <img src="http://img.lotour.net/UserPhoto/20140208023035_70.jpg" width="35" height="35">
        </a>
        <a title="" href="http://guangzhou.lotour.com/zj/1104283" target="_blank">{{Title}}</a>
        <span class="flowNum">
                     <i class="icon iconfont icon-dingwei">{{RegionName}}</i>
                     <i class="icon iconfont icon-yanjing">9718</i>
                 </span>
    </div>
    <div class="flowPing">
        <div class="flowPingL">
            <a href="http://my.lotour.com/i/5485932/" target="_blank" title="莫小落">
                <img width="30" height="30" src="http://img.lotour.net/UserPhoto/20150506093124_70.jpg" alt="">
            </a>
        </div>
        <div class="flowPingR">
            <p class="pingUser"><a href="http://my.lotour.com/i/5485932/" title="莫小落" target="_blank">莫小落</a></p>
            <p class="pingCon">
                <a href="http://guangzhou.lotour.com/zj/1104283#commentarea" title=""  target="_blank">
                    <img src="http://img1.lotour.com/mylotour/emot/赞.gif">
                </a>
            </p>
        </div>
    </div>
</li>

<li id="aa" >
    <div class="flowPic">
        <a class="share" href="#"></a>
        <div class="sharelb">
            <a href="#" class="renren"></a>
            <a href="#" class="qzone"></a>
            <a href="#" class="qq"></a>
            <a href="#" class="wechat"></a>
            <a href="#" class="weibo"></a>
        </div>
        <a href="#" class="img">
            <img src="http://img4.lotour.net/mudidi/201501/10748651_236.jpg" title="简简单单广州跨年游（上）">
        </a>
    </div>
    <div class="flowTxt">
        <a title="lg2330795" href="http://my.lotour.com/i/4570916/" target="_blank">
            <img src="http://img.lotour.net/UserPhoto/20140208023035_70.jpg" width="35" height="35">
        </a>
        <a title="" href="http://guangzhou.lotour.com/zj/1104283" target="_blank">简简单单广州跨年游（上）</a>
        <span class="flowNum">
                     <i class="icon iconfont icon-dingwei">广州</i>
                     <i class="icon iconfont icon-yanjing">9718</i>
                 </span>
    </div>
    <div class="flowPing">
        <div class="flowPingL">
            <a href="http://my.lotour.com/i/5485932/" target="_blank" title="莫小落">
                <img width="30" height="30" src="http://img.lotour.net/UserPhoto/20150506093124_70.jpg" alt="">
            </a>
        </div>
        <div class="flowPingR">
            <p class="pingUser"><a href="http://my.lotour.com/i/5485932/" title="莫小落" target="_blank">莫小落</a></p>
            <p class="pingCon">
                <a href="http://guangzhou.lotour.com/zj/1104283#commentarea" title=""  target="_blank">
                    <img src="http://img1.lotour.com/mylotour/emot/赞.gif">
                </a>
            </p>
        </div>
    </div>
    <!--</li>-->


